<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Records</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <script src="/static/lib/jquery-1.12.4.js"></script>
    <script src="/static/lib/jquery-ui.js"></script>
    <script src="/static/lib/common.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <script src="/static/lib/kendo.all.min.js"></script>
    <link rel="stylesheet" href="/static/css/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/kendo.bootstrap.min.css" />
</head>

<body>
    <script type="text/javascript">
    $( document ).ready(function() {
    $("#dialog").dialog({
        autoOpen: false,
        dialogClass: 'dialog',
        modal: true,
        open: function(){
           jQuery('.ui-widget-overlay').bind('click',function(){
                jQuery('#dialog').dialog('close');
           })
        },
        show: { effect: "blind", duration: 300 }
     });
        var factor_legend;
        var data = JSON.parse(localStorage.getItem('languages'));
            language = data;
            $('#project_title').text(data.project_title);
            $('#h1_record').text(data.h1_record);
            $('#h2_record').text(data.h2_record);
            $('#ecg').text(data.ecg);
            $('#ecg_done').text(data.ecg_done);
            $('#patients').text(data.patients);
            $('#logout').text(data.logout);
            $('#ecg_pop').text(data.ecg);
            $('#ecg_done_pop').text(data.ecg_done);
            $('#patients_pop').text(data.patients);
            $('#logout_pop').text(data.logout);
            $('#return').text(data.return);
            $('#search').val(data.search);
            $("#dni").attr("placeholder", data.dni);
            $('#date').val(data.date);
            factors_legend = data.factors_legend;
            actions = data.actions;
            risklevel = data.risklevel;
            remarks = data.remarks;
            edit = data.edit;
			riskcontext = data.riskcontext;

            var haydato = '{{data.dni}}';
            if (haydato!='None'){
                $('#dni').val(haydato);
                detalleEcg();
            }
    });

     </script>
    <header id="masthead">
        <div class="contnr">
            <div class="project-title">
                <h2 id="project_title"></h2>
            </div>
            <div class="back_cntnr"><a href="/" id="return"></a></div>
            <div class="mob_menu_cntnr">
                <a class="mob_menu_btn"></a>
            </div>
            <div id="desk_menu_cntnr">
                <ul>
                    <li><a href="/ecg" class="ecg" id="ecg"></a></li>
                    <li><a href="/historial" class="ecg_done" id="ecg_done"></a></li>
                    <li><a href="/administracion" class="patients" id="patients"></a></li>
                    <li><a href="/logout_check" class="logout" id="logout"></a></li>
                </ul>
            </div>

            <div id="menu_pop">
                <div id="menu_pop_hdr">
                    <div class="contnr">
                        <a href="#">X</a>
                        <span>Menu</span>
                    </div>

                </div>
                <div id="menu_pop_bd">
                    <div class="contnr">
                        <ul>
                            <li><a href="/ecg" class="ecg" id="ecg_pop"></a></li>
                            <li><a href="/historial" class="ecg_done" id="ecg_done_pop"></a></li>
                            <li><a href="/administracion" class="patients" id="patients_pop"></a></li>
                            <li><a href="/logout_check" class="logout" id="logout_pop"></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <section id="mastsect">
        <div class="contnr">
            <h2 id="h2_record"></h2>
            <div class="formulario">
                <div class="contenedor">
                    <div class="input-contenedor">
                        <img class="icon" src="static/icons/id-card-regular.svg"/>
                        <input type="text" name="dni" id="dni" placeholder="Identificador" maxlength="30" id="dni">
                    </div>

                    <input type="button" value="Buscar" class="button" onclick="detalleEcg()" id="search">


                    <div id="paciente"></div>
                    <div id="msgmed"></div>
                    <div id="detalle"></div>
                </div>
            </div>
        </div>
    </section>



    <div id="img_viewer">
        <div id="img_viewer_hdr"><a href="#">volver</a></div>
        <div id="img_viewer_bod">
            <div id="img_viewer_container"><img id="img_viewer_img" src="/static/files/blank.jpg " /></div>
        </div>
    </div>

    <div id="dialog" title="Observaciones"></div>

    <script type="text/javascript">
        $.getJSON("/dni",
            function(data) {
                var nombres = new Array();
                $.each(data, function(k, t) {
                    nombres[k] = t.dni;
                });
                $("#dni").autocomplete({
                    source: nombres
                });
            });

        var panelbar = new Array();
		var panelqtc = new Array();
        var medidas_last_id;
        var observaciones = new Array();

        function detalleEcg() {
            $.getJSON("/detalle?dni=" + $("#dni").val(),
                function(data) {
                    if (data.length == 0) {
                        $('#detalle').html("<p id='error'>"+ language.iderror +"</p>");
                        $('#paciente').html("");
                        setTimeout(function() {
                            $("#error").hide();
                        }, 2000);
                    } else
                        $.getJSON("/dni?dni=" + $("#dni").val(),
                            function(paciente) {
                                var rows = data.length;
                                var vp = vistapaciente(paciente[0]);
                                var sexo = paciente[0].sexo;
                                var edad = calculaEdad(paciente[0].fecnac) >= 68;
                                var iam = paciente[0].iam;
                                var cardiaco = paciente[0].cardiaco;
                                var html = tabla(data, edad, sexo, iam, cardiaco);
                                $('#paciente').html(vp);
                                $('#detalle').html(html);
                                for (var i = 0; i < rows; i++) {
                                    $("#panelbar" + i).kendoPanelBar();
                                    panelbar[i] = $("#panelmedidas" + i).kendoPanelBar();
									panelqtc[i] = $("#panelqtc"+i).kendoPanelBar();
                                }
                                $('#divmedidas').change(function() {
                                    actualizaMedidas(' + String(medidas_last_id) + ')
                                });
                            });
                });
        }

        function calculaEdad(fecnac) {
            var sdt = new Date(fecnac);
            var difdt = new Date(new Date() - sdt);
            var edad = (difdt.toISOString().slice(0, 4) - 1970);
            return edad;
        }

        function round(value, decimals) {
            return Number(Math.round(value + 'e' + decimals) + 'e-' + decimals);
        }

        function tabla(data, edad, sexo, iam, cardiaco) {
            var tag = ['no', 'si'];
            var hm = [language.male, language.female];
            var checked_0 = ["checked", ""];
            var checked_1 = ["", "checked"];
            if (data.length > 0) {
                var html = '<div style="border:1px solid #000;"><p>' + riskcontext + '</p>';
                html += '<img src="static/images/contexto.png" style="width: 50%;display: block;margin-left: auto; margin-right: auto;"/>';
                html += '<p>' + factors_legend + '</p></div><div style="padding: 0 0 5px 0;"/>';
                html += '<table>';
                html += '<tr>';
                html += '<th>' + language.date + '</th>';
                html += '<th>ECG</th>';
                html += '<th>QTc</th>';
                html += '<th>&Delta;QTc</th>';
                html += '<th>' + language.riskcontext + '</th>';
                html += '<th colspan="2">' + risklevel + '</th>';
                html += '<th rowpan="2">' + actions + '</th>';
                html += '</tr>';
                $.each(data, function(k, item) {
					var iconval = parseFloat(item.alarma);
                    var icon_b = '#92d050'; // verde
                    if (iconval > 0.66) icon_b = '#ed3a22'; // rojo
                    if ((iconval > 0.33) && (iconval <= 0.66)) icon_b = '#ffbf00'; // orange
                    if (edad==false) edad=0; else edad=1;
                    html += '<tr>'; if (item.qtc_type>=80) color_basal='#bdecb6'; else color_basal='white';
                    html += '<td align=center rowspan="2" style="background-color:' + color_basal + '">' + item.time + '<div style="margin: 0 auto; margin-top: 10px; text-align: center">';
                    html += '<a class="button4" href="ecgedit?id='+ item.id +'&qtc_type=' + item.qtc_type + '"><font color="white">' + edit + '</font></a></div></td>';
                    var url_clip = 'ecgdraw?id=' + item.id;
                    var url_clip_full = 'ecgdrawfull?id=' + item.id ;

                    observaciones[k] = item.observaciones;

                    if (item.qtc>0){
                        html += '<td><a onclick="showImageModal(' + "'" + url_clip + "'" + ')"><img src="/static/images/logo-small.png" width="20" style="display: block;margin-left: auto; margin-right: auto;"/></a>';
                        html += '<a onclick="showImageModal(' + "'" + url_clip_full + "'" + ')"><img src="/static/images/logo-ecg.png" width="80" style="display: block;margin: auto auto -14px auto;"/></a></td>';
					    html += '<td>' + item.qtc + '</td>';
					    html += '<td>' + item.incremento + '</td>';
					}
					else {
					    html += '<td></td><td></td><td></td>';
					}

                    var coef = 5/21;
                    var sumapuntos = edad * coef + sexo * coef + item.diuretico * coef + item.suero * coef * 2 + item.qtc_450 * coef * 2 + iam * coef * 2 + item.sepsis * coef * 3 + item.medQT * coef * 3 + item.medsQT * coef * 3 + cardiaco * coef * 3;
                    html += '<td rowspan="1"><ul id="panelbar' + k + '" class="ra-well-overlay"><li>' + round(sumapuntos, 2) + '<div>';
                    html += '<div class=' + tag[edad] + '> ' + language.riskfactor1 + '</div>';
                    html += '<div class=' + tag[sexo] + '> ' + hm[sexo] + '</div>';
                    html += '<div class=' + tag[item.diuretico] + '> ' + language.riskfactor3 + '</div>';
                    html += '<div class=' + tag[item.suero] + '> ' + language.riskfactor4 + '</div>';
                    html += '<div class=' + tag[item.qtc_450] + '> ' + language.riskfactor10 + '</div>';					
                    html += '<div class=' + tag[iam] + '> ' + language.riskfactor5 + '</div>';
                    html += '<div class=' + tag[item.sepsis] + '> ' + language.riskfactor6 + '</div>';
                    html += '<div class=' + tag[item.medQT] + '> ' + language.riskfactor7 + '</div>';
                    html += '<div class=' + tag[item.medsQT] + '> ' + language.riskfactor8 + '</div>';
                    html += '<div class=' + tag[cardiaco] + '> ' + language.riskfactor9 + '</div>';
                    html += '</div></li></ul></td>';
					//-----  hay que copiar en expo
					//html+= '<td><ul id="panelqtc' + k + '" class="ra-well-overlay"><li>' + item.qtc + '<div>' ;
					//html+= lista;
					//html+= '</div></li></ul></td>';
					//----- fin de copia en expo

                    if (item.qtc>0){
                        html += '<td style="background-color:' + icon_b + '"></td>';
                        html += '<td style="text-align:center;">' + item.alarma + '</td>';}
                    else {
                        html += '<td>&nbsp;</td><td></td>';
                    }

                    var num_medidas = parseInt(item.m1) + parseInt(item.m2) + parseInt(item.m3) + parseInt(item.m4) + parseInt(item.m5);
                    html += '<td><ul id="panelmedidas' + k + '" class="ra-well-overlay"><li><span id="numedidas' + k + '">' + num_medidas + '</span>';

                    if (k != 0) {
                        html += '<div>';
                        html += '<div class=' + tag[item.m1] + '> ' + language.action1 + '</div>';
                        html += '<div class=' + tag[item.m2] + '> ' + language.action2 + '</div>';
                        html += '<div class=' + tag[item.m3] + '> ' + language.action3 + '</div>';
                    } else {
                        html += '<div id="divmedidas"';
                        html += '<span>' + language.tag_no + ' ' +language.tag_yes + '</span>';
                        html += '<div>' +
                            '<input type="radio" name="m1" value="0" ' + checked_0[item.m1] + '>' +
                            '<input type="radio" name="m1" value="1" ' + checked_1[item.m1] + '><label class="med">' + language.action1 + '</label>' +
                            '</div>';
                        html += '<div>' +
                            '<input type="radio" name="m2" value="0" ' + checked_0[item.m2] + '>' +
                            '<input type="radio" name="m2" value="1" ' + checked_1[item.m2] + '><label class="med">' + language.action2 + '</label>' +
                            '</div>';
                        html += '<div>' +
                            '<input type="radio" name="m3" value="0" ' + checked_0[item.m3] + '>' +
                            '<input type="radio" name="m3" value="1" ' + checked_1[item.m3] + '><label class="med">' + language.action3 + '</label>' +
                            '</div>';
                        medidas_last_id = item.id;
                    }

                    html += '</tr>';
                    //
                    // Second row Qtc_man
					iconval = parseFloat(item.alarma_man);
                    icon_b = '#92d050'; // verde
                    if (iconval > 0.66) icon_b = '#ed3a22'; // rojo
                    if ((iconval > 0.33) && (iconval <= 0.66)) icon_b = '#ffbf00'; // orange
                    html += '<tr>';
                    if (item.qtc_man>0){
                        html += '<td></td>';
                        html += '<td>' + item.qtc_man + '</td>';
                        html += '<td>' + item.incremento_man + '</td>';
                        html += '<td></td>';
                        html += '<td style="background-color:' + icon_b + '"></td>';
                        html += '<td style="text-align:center;">' + item.alarma_man + '</td>';
                    }
                    else {
                        html += '<td>&nbsp;</td><td></td><td></td><td></td><td></td><td></td>';
                    }
                    html += '<td align=center><a href="#" onclick="showObservaciones(' + k + ');" class="button4"><font color="white">' + remarks + '</font></a></td>';
                    html += '</tr>';
                });
                html += '</table>';
            } else {
                html = '0';
            }
            return html;
        }


        function vistapaciente(paciente) {
            var sdt = new Date(paciente.fecnac);
            var sexo_label = [language.male, language.female];
            var difdt = new Date(new Date() - sdt);
            // (difdt.toISOString().slice(0, 4) - 1970) + " años, " + (difdt.getMonth()+1) + "meses " + difdt.getDate() + "dias";
            var edad = (difdt.toISOString().slice(0, 4) - 1970) + " " + language.years;
            var res = '<hr/><p>' + paciente.apellidos + ', ' + paciente.nombre;
            res += ' (' + sexo_label[paciente.sexo] + '): ' + edad + '</p>';
            return res;
        }

        function grafica(url) {
            var win = window.open(url, '_blank');
            win.focus();
        }

        function actualizaMedidas(id) {
            // var kendoPanelbar = panelbar[0].data().kendoPanelBar;
            // kendoPanelbar.collapse($("li", panelbar.element));
            m1 = $("input[name='m1']:checked").val()
            m2 = $("input[name='m2']:checked").val()
            m3 = $("input[name='m3']:checked").val()
            m4 = 0
            m5 = 0
            num_medidas = parseInt(m1) + parseInt(m2) + parseInt(m3) + parseInt(m4) + parseInt(m5);
            $('#numedidas0').html(num_medidas);
            $.ajax({
                type: 'POST',
                url: '/medidas',
                data: {
                    'id': medidas_last_id,
                    'm1': m1,
                    'm2': m2,
                    'm3': m3,
                    'm4': m4,
                    'm5': m5
                },
                success: function(data) {}
            });
        }

        function showObservaciones(indx){
            var target = $('#dialog');
            $('#dialog').dialog('option', 'title', remarks);
            $('#dialog').position({my: 'center', at: 'center', of: target});
            $('#dialog').html(observaciones[indx]);
            $('#dialog').dialog('open');
        }
    </script>
</body>

</html>